<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="about">
        <h1>UP-CYCLE</h1>
            <h2 class="home"> <a href="/">Home</a></h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis est soluta nisi quas a rem, quis voluptatum esse,
     enim neque cum corporis reiciendis molestias, atque nam in beatae placeat ea.
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum impedit doloremque voluptatem ab, sint, cupiditate
      maiores doloribus libero expedita aliquid sequi necessitatibus facilis. Possimus error tempora in id ipsam autem?
     </p>
    </div>
</body>

</html>