<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
                <h1 class="heading">UP-CYCLE</h1>
            <p class="slogan">Re-use , Reduce, Recycle</p>

    <div clas="contact">
<div class="center">
<h2>We'd love to hear from you </h2>
<p>Whether you have any questions, a suggestion or simply want to know more? Our team is here to help </p>
<div class="number">    
    <a href="mailto:mecayleg@gmail.com"><i class="material-icons icon" style="font-size: 20px">email</i></a>
   <a href="#" class="fa fa-facebook" style="font-size: 20px;"></a>
   <a href="#" class="fa fa-twitter" style="font-size: 20px;"></a>
   <a href="#" class="fa fa-instagram" style="font-size: 20px;"></a>
    <a href="#" class="fa fa-whatsapp" style="font-size: 20px;"></a>

</div>
</div>
</div>

</body>

</html>