<form action="/qtyForm" method="POST">
  <div class>
    <h4>Select Materials For Recycling</h4>
  </div>

  <div class="input">
    <p>Materials</p>
  </div>

  {{#each material}}
  <div class="input">
    {{this.material_name}} <input type="text" name="{{this.material_name}}"
      placeholder="{{this.material_name}} weight in kg" class="qtyEntered">
  </div>
  {{/each}}
  <button class="submitBtn" type="submit">Submit Form</button>
</form>
<form action="/total" method="POST">
  <div>
    <p>Estimated Total R{{total}}</p>
  </div>
</form>