         <h1 class="heading">UP-CYCLE</h1>
        <p class="slogan">Re-use , Reduce, Recycle</p>

  <button class="home"><a href="/">Home</a></button>
  <div class="recyclables">
<h4>What can be recycled</h4>
<div class="paper">
  <h5>Paper</h5>
  <p>When it comes to office paper, magazines, newspaper or color paper recycling, there is a wide range of 
    paper materials that can be diverted from landfill.</p>
</div>

<div class="cardboard">
  <h5>Cardboard</h5>
  <p>Be it used boxes, cereal or cardboard packaging all of these can be recycled.</p>
</div>

<div class="plastic">
  <h5>Plastic</h5>
  Plastic materials are widely recycled and include water and cool drink bottles, cleaning 
  agent bottles, crates, pallets and bins, bubble wrap, yoghurt tubs, margarine tubs, ice cream containers and bottle caps
</div>

<div class="glass">
  <h5>Glass</h5>
<p>Glass recycling in South Africa is on the increase. Any clean glass bottles and glass jars</p>
</div>

<div class="metal">
<h5>Metal</h5>
<p>Scrap metal is one of the most valuable products you can recycle. The general rule is a product needs to be at
   least 50 percent metal from appliances to batteries to clothes hangers</p>
</div>

<div class="cans">
  <h5>Cans</h5>
  <p>Tin and can recycling in South Africa is one of the areas of waste management that is on the increase,
     especially in households. Any aluminium and beverage cans</p>
</div>
  </div>

<div>
  <h4>Select Materials For Recycling</h4>
</div>

<div>
  <p>Materials</p>
</div>

<form action="/materialForm" method="POST">
  <div class="materialsRadio">
    <label class="">
      <input type="radio" name="materialType1" value="Paper">
      <span class="label-body">Paper</span>
    </label>
    <label class="">
      <input type="radio" name="materialType2" value="Cardboard">
      <span class="label-body">Cardboard</span>
    </label>
    <label class="">
      <input type="radio" name="materialType3" value="Glass">
      <span class="label-body">Glass</span>
    </label>
    <label class="">
      <input type="radio" name="materialType4" value="Metal">
      <span class="label-body">Metal</span>
    </label>
    <label class="">
      <input type="radio" name="materialType5" value="Cans">
      <span class="label-body">Cans</span>
    </label>
  </div>

</form>

<div>
  <p>Quantity</p>
</div>

<form action="/qtyForm" method="post">
  {{#each material}}
  <div>
    {{this.material_name}} <input type="text" name="{{this.material_name}}"
      placeholder="{{this.material_name}} weight in kg" class="qtyEntered">
  </div>
  {{/each}}
  <button class="submitBtn" type="submit">Submit Form</button>
</form>


<form action="/total" method="POST">
  <div>
    <p>Estimated Total R{{total}}</p>
  </div>
</form>