<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up-Cycle</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <form action="/home" method="POST"></form>
            <h1 class="heading">UP-CYCLE</h1>
            <p class="slogan">Re-use , Reduce, Recycle</p>
            <nav>
       <button class="home"><a href="/">Home</a></button> 
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="about">If you’re not already recycling, find out more about how easy it is and how you can really make a 
            difference. For those who already recycle, discover the positive effect your recycling efforts are making and find out what else you may be able to do.</div>

        <div class="slides">
            <img src="/images/recycle1.jpg" alt="what can be recycled">
            <button class="btn" name="link"><a href="/form">what can I recycle and how much can i get?</a></button>
        </div>
        <div class="slides">
            <img src="/images/map.jpg" alt="map of cape town">
            <button class="btn" name="link"><a href="/drop-off-sites">Drop-off Points</a></button>
        </div>

        <div class="slides">
            <img src="/images/recycle2.jpg" alt="how recycling helps">
            <button class="btn" name="link"><a href="/insights">Tips on how to recycle and how it helps</a></button>
        </div>

</body>

</html>